.chat-container {
  /* position: fixed; */
  right: 30px;
  bottom: 25px;
  width: 370px;
  height: 80%;
  min-height: 520px;
  max-height: 680px;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: rgb(0 0 0 / 30%) 0px 12px 60px 5px;
}



.toggle-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.chat-window {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}


.chat-header {
  display: flex;
  background: rgb(92, 130, 255);
  background: linear-gradient(
    90deg,
    rgba(157, 92, 255, 1) 0%,
    rgba(92, 130, 255, 1) 100%
  );
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem;
}


.chat-close-line,
.chat-arrow-left-s-line {
  font-size: 1.5rem;
  color: #ffffff;
}

.message-container {
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
}

.message {
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 5px;
  max-width: 70%;
}

.user-message {
  background-color: #DCF8C6;
}

.server-message {
  background-color: #F3F3F3;
}

.user-message, .server-message {
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 5px;
  align-self: flex-end;
}

.server-message {
  align-self: flex-start;
}

.input-container {
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
}

.message-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 0;
}

.send-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border-radius: 0;
}



