<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News List</title>
  </head>
  <body>
    <h1>뉴스 목록</h1>

    <ul>
      {% for item in datalist %}
      <li>
        <a href="{{ item.url }}" target="_blank"
          >{{ item.title }} - {{ item.url }}</a
        >
      </li>
      {% endfor %}

    </ul>
<!--      <iframe width="433" height="769" src="https://www.youtube.com/embed/6gaVuDjkncQ"-->
<!--            title="미세먼지 심한 봄철 세차는 이렇게! #Shorts" frameborder="0"-->
<!--            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>-->

  </body>
</html>
